@media(min-width:600px) {
    html {
        font-size: 70.2%;
        height: 100%;
    }

    body {
        height: 100%;
        background-color: white;
        margin: 5rem;
    }

    * {
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        text-decoration: none;
        transition: all .2s linear;
    }

    .blur {
        /* The blue effect */
        filter: blur(8px);
        -webkit-filter: blur(8px);
        font-size: 2.5rem;
        position: relative;
    } 

    main {
        width: 30%;
        height: auto;
        background-color: white;
        margin-left: 32%;
        padding: 1rem;
        border-radius: 2rem;
        border: 1px solid black;
        box-shadow: 0 .5rem 1rem rgba(0,0,0.1);
        position: absolute;
    }

    .container {
        padding: 4rem;
        text-align: center;
        width: 100%;
    }

    .container  h3 {
        font-size: 1.5rem;
        text-transform: uppercase;
        margin-bottom: 5.5rem;
        color: black;
    }

    .icon {
        font-size: 15rem;
        color: rgba(52, 52, 198, 0.739);
    }

    .content-table {
        border-collapse: collapse;
        margin: 25px auto;
        font-size: 2.5rem;
        width: 80%;
        border-radius: 5px 5px 0 0;
        overflow: hidden;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    }
    .content-table thead tr {
        background-color: #0c7db1;
        color: #ffffff;
        text-align: left;
        font-weight: bold;
    }
    .content-table th, .content-table td {
        padding: 12px 15px;
    }
    .content-table tbody tr {
        border-bottom: 1px solid #dddddd;
    }
    .content-table tbody tr:nth-of-type(even) {
        background-color: #f3f3f3;
    }
    .content-table tbody tr:last-of-type {
        border-bottom: 2px solid #0c7db1;
    }
    .content-table tbody tr.active-row {
        font-weight: bold;
        color: #0c7db1;
    }
    
    .submit {
        height: auto;
        width: 18rem;
        padding: 1.6rem;
        margin: 0 auto;
        background-color: #0c7db1;
        border-radius: 1.3rem;
        font-size: 30px;
        display: flex;
        align-content: center;
        justify-content: center;
        cursor: pointer;
        color: #fff;
    }
    
}